body{
   font-family: 'Gentium Book Plus', serif;
   margin:0;
   padding:0;
}

.first-section{
   display: flex;
   background-image: url('Image/top-banner.png');
   background-repeat: no-repeat;
   margin-bottom: 200px;
}
.same{
   width: 50%;
}

.same img{
   width: 92%;
}

.name-color{
   color: #FFB327;
}

h1{
   font-size: 40px;
}

.same{
   margin-left: 7%;
}

.hire-link{
   text-decoration: none;
   background-image:linear-gradient(orange,orangered,#FFB327);
   padding: 10px 30px;
   font-weight: 800;
   color: whitesmoke;
   border-radius: 10px;
}
P{
   font-size:20px;
}

.second-time{
   display:flex;
}

.samehere{
   width:50%;
}

.samehere img {
   width: 90%;
}

.download-link{
   text-decoration: none;
   background-image:linear-gradient(orange,orangered,#FFB327);
   padding: 10px 25px;
   font-weight: 800;
   color: whitesmoke;
   border-radius: 10px;
}

.second-time{
   background-image:url('Image/dream-bg.png');
   background-repeat: no-repeat;
   background-position: right;
}

.paragraph{
   font-size:20px;
   margin-right: 6%;
}

.photo img{
   width: 80%;
   margin-left: 15%;

}

.last-section h2{
   color: darkorange;
}
.last-section{
   display: flex;
   width: 80%;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 300px;
}

.last-section div{
   width:50%;
   text-align: center;
   margin-left: 100px;
   box-shadow: 10px 10px 50px grey;
}

.work{
   border-left: 10px solid blue;
}

.kaj{
   border-left: 10px solid #790505;
}

.expo{
   font-size: 50px;
   font-weight: 900;
}

footer{
   text-align: center;
}

.last-section-in-page{
   background-image: url('Image/last.png');
   background-repeat: no-repeat;
}